@page "/"
@using RecordUi.Services
@inject IJSRuntime JsRuntime

<div class="flex-container">
    <div>
        <button type="button" class="record-btn" @onclick="btnRecordAudioStart_Click" disabled="@RecordAudioStartDisabled">
            <i class="bi bi-record-circle" style="color:red"></i>
            <br />
            <span>Start</span>
        </button>
    </div>
    <div>
        <button type="button" class="record-btn" @onclick="btnRecordAudioPause_Click" disabled="@RecordAudioPauseDisabled">
            <i class="bi bi-mic-mute"></i>
            <br />
            <span>Pause</span>
        </button>
    </div>
    <div>
        <button type="button" class="record-btn" @onclick="btnRecordAudioResume_Click" disabled="@RecordAudioResumeDisabled">
            <i class="bi bi-mic"></i>
            <br />
            <span>Resume</span>
        </button>
    </div>
    <div>
        <button type="button" class="record-btn" @onclick="btnRecordAudioStop_Click" disabled="@RecordAudioStopDisabled">
            <i class="bi bi-stop"></i>
            <br />
            <span>Stop</span>
        </button>
    </div>
</div>

<hr />
<audio controls src="@mUrl" controlsList="nodownload"></audio>
<hr />

<div class="input-group">
    <span class="input-group-text">Prompt</span>
    <textarea class="form-control" aria-label="Prompt" @bind="Prompt"></textarea>
</div>

<br />

<button type="button" class="stt-btn" @onclick="btnStt_Click" disabled="@SpeechToTextDisabled">
    <i class="bi bi-chat-square-text"></i>
    <br />
    <span>Recognize</span>
</button>

<hr />

<div class="card">
    <div class="card-header">Recognized text:</div>
    <div class="card-body">
        <div class="card-text">
            @SttResult
        </div>
    </div>
</div>


@code
{
    string? mUrl;

    bool RecordAudioStartDisabled;
    bool RecordAudioPauseDisabled = true;
    bool RecordAudioResumeDisabled = true;
    bool RecordAudioStopDisabled = true;
    bool SpeechToTextDisabled = true;

    private ElementReference _audioDownloadTag;

    private string Prompt { get; set; } = string.Empty;
    private string SttResult { get; set; } = string.Empty;

    [Inject]
    private ISpeechToTextService? SpeechToTextService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await JsRuntime.InvokeVoidAsync("BlazorAudioRecorder.Initialize", DotNetObjectReference.Create(this));
    }

    #region Microphone events

    private void btnRecordAudioStart_Click()
    {
        mUrl = "";
        RecordAudioStartDisabled = true;
        RecordAudioPauseDisabled = false;
        RecordAudioResumeDisabled = true;
        RecordAudioStopDisabled = false;
        SpeechToTextDisabled = true;
        JsRuntime.InvokeVoidAsync("BlazorAudioRecorder.StartRecord");
    }

    private void btnRecordAudioPause_Click()
    {
        RecordAudioStartDisabled = true;
        RecordAudioPauseDisabled = true;
        RecordAudioResumeDisabled = false;
        RecordAudioStopDisabled = false;
        SpeechToTextDisabled = true;
        JsRuntime.InvokeVoidAsync("BlazorAudioRecorder.PauseRecord");
    }

    private void btnRecordAudioResume_Click()
    {
        RecordAudioStartDisabled = true;
        RecordAudioPauseDisabled = false;
        RecordAudioResumeDisabled = true;
        RecordAudioStopDisabled = false;
        SpeechToTextDisabled = true;
        JsRuntime.InvokeVoidAsync("BlazorAudioRecorder.ResumeRecord");
    }

    private void btnRecordAudioStop_Click()
    {
        RecordAudioStartDisabled = false;
        RecordAudioPauseDisabled = true;
        RecordAudioResumeDisabled = true;
        RecordAudioStopDisabled = true;
        SpeechToTextDisabled = false;
        JsRuntime.InvokeVoidAsync("BlazorAudioRecorder.StopRecord");
    }

    [JSInvokable]
    public async Task OnAudioUrl(string url)
    {
        mUrl = url;
        await InvokeAsync(StateHasChanged);
    }

    #endregion

    private async void btnStt_Click()
    {
        if (!string.IsNullOrEmpty(mUrl))
        {
            var audio = await JsRuntime.InvokeAsync<byte[]>("BlazorAudioRecorder.GetRawData");

            SttResult = await SpeechToTextService!.GetTranscription(audio, Prompt);
        }
        else
        {
            SttResult = "No audio file to process";
        }
        await InvokeAsync(StateHasChanged);
    }
}